<html>
  <head>
    <!-- Include the Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h2>Admin Sign in</h2>
      <form action="/adminSignIn" method="post">
        <!-- First field -->
        <div class="form-group">
          <label for="inputEmail">Email address:</label>
          <input type="email" class="form-control" name="adEmail" placeholder="Enter your email">
        </div>

        <!-- Second field -->
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" name="adPassword" placeholder="Enter your password">
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
